parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - src/files/custom/Espo/Modules/ElevateResourceManagement
    bootstrapFiles:
        - site/vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
