parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - src/files/custom/Espo/Modules/ElevateResourceManagement
        - src/scripts
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - site/application/Espo
    reportUnmatchedIgnoredErrors: false
